body {
  font-family: courier; }

  .navbar {
    text-align: center; }

    dt:before {
      content: ' ';
      display: block; }

      dt {
        display: inline; }

        dd {
          display: inline; }

          body.page-index ul li {
            list-style: none;
            display: inline-block; }
            body.page-index ul li:not(:last-child):after {
              content: ", "; }

body.page-event .container, body.page-new-event .container {
  padding-left: 100px; }
  body.page-event .editable.edit-mode .edit-button,
  body.page-new-event .editable.edit-mode .edit-button {
    display: none; }
  body.page-event .editable.view-mode .submit-button,
  body.page-new-event .editable.view-mode .submit-button {
    display: none; }
    body.page-event .editable.view-mode .delete-button,
    body.page-new-event .editable.view-mode .delete-button {
      display: none; }
body.page-event .form-state .submit-group,
body.page-new-event .form-state .submit-group {
  display: inline-block; }
  body.page-event .form-state input, body.page-new-event .form-state input {
    color: white;
    padding: 10px;
    display: inline-block;
    cursor: pointer; }
    body.page-event .form-state input.edit-input,
    body.page-new-event .form-state input.edit-input {
      background-color: #FF9800; }
      body.page-event .form-state input.delete-input,
      body.page-new-event .form-state input.delete-input {
        background-color: #F44336;
        width: 15em; }
        body.page-event .form-state input.submit-input,
        body.page-new-event .form-state input.submit-input {
          background-color: #4CAF50;
          width: 15em; }
body.page-event label, body.page-new-event label {
  font-weight: normal; }
  body.page-event label.required, body.page-new-event label.required {
    font-weight: bold; }
    body.page-event label.required:before, body.page-new-event label.required:before {
      content: "*"; }
body.page-event input.form-control.form-control.form-control:required,
body.page-new-event input.form-control.form-control.form-control:required {
  box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.85); }
  body.page-event .attribute-group, body.page-new-event .attribute-group {
    margin-top: 10px;
    margin-top: 40px; }
    body.page-event .attribute-group input:required,
    body.page-new-event .attribute-group input:required {
      border: 1px solid #9C27B0; }
      body.page-event .attribute-group.grp-0, body.page-new-event .attribute-group.grp-0 {
        display: none; }
        body.page-event .attribute-group:not(.grp-1) label,
        body.page-new-event .attribute-group:not(.grp-1) label {
          opacity: 0.5; }
body.page-event .view-mode .form-group .form-control,
body.page-new-event .view-mode .form-group .form-control {
  border: 1px solid lightgray; }
  body.page-event .edit-mode .form-group .form-control,
  body.page-new-event .edit-mode .form-group .form-control {
    border: 1px solid lightgray; }
    body.page-event .form-group .form-control,
    body.page-new-event .form-group .form-control {
      display: inline-block;
      border: 1px solid lightgray;
      box-shadow: none;
      border-radius: 0px;
      padding-left: 0px; }
      body.page-event .form-group label, body.page-new-event .form-group label {
        width: 200px;
        text-align: right; }
        body.page-event .form-group input, body.page-new-event .form-group input {
          max-width: 25em; }
          body.page-event .form-group textarea.form-control.form-control,
          body.page-new-event .form-group textarea.form-control.form-control {
            max-width: 25em;
            border: 1px solid lightgray; }
            body.page-event .form-group select.form-control.form-control,
            body.page-new-event .form-group select.form-control.form-control {
              max-width: 25em;
              border: 1px solid lightgray; }
              body.page-event .form-group textarea, body.page-new-event .form-group textarea {
                height: 100px;
                vertical-align: text-top; }
                body.page-event .form-group textarea ~ label,
                body.page-new-event .form-group textarea ~ label {
                  vertical-align: text-top; }

body.page-shows {
  padding-left: 100px;
  background-color: black;
  font-size: 6.5em;
  font-family: courier;
  color: white; }
  body.page-shows .arrow {
    position: fixed;
    bottom: 0px;
    margin: 100px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px; }
    body.page-shows .arrow.cans {
      left: 0px; }
      body.page-shows .arrow.posters {
        right: 0px; }
  body.page-shows .container {
    padding: 0px;
    margin: 0px; }
    body.page-shows .chapter {
      margin-bottom: 100px; }
      body.page-shows .nowplaying {
        color: #FFEB3B; }
        body.page-shows .nowplaying dd:after {
          content: "(now playing!)"; }
  body.page-shows .event-title {
    text-transform: uppercase; }
    body.page-shows h1 {
      font-weight: bold;
      font-size: 100%; }
      body.page-shows h2 {
        font-size: 100%; }
        body.page-shows a {
          color: white;
          text-decoration: none; }
          body.page-shows nav {
            display: none; }

.day-group {
  margin-top: 20px; }

  .group-header {
    font-weight: bold; }

    .weekday {
      color: blue;
      text-transform: uppercase; }
      .weekday.wed {
        color: #FF9800; }
        .weekday.thu {
          color: #F44336; }
          .weekday.fri {
            color: #9C27B0; }
            .weekday.sat {
              color: #9C27B0; }
              .weekday.sun {
                color: #4CAF50; }
                .weekday.mon {
                  color: lighten(#F44336 50%); }
                  .weekday.tue {
                    color: #FFEB3B; }
                    .weekday a {
                      text-decoration: underline; }
                      .weekday a.wed {
                        color: #FF9800; }
      .weekday a.thu {
        color: red; }

a {
  text-decoration: underline; }
