@import "colors";

body{
    font-family:courier;

}

.navbar{
    text-align:center;
}

dt:before { content: ' '; display: block; }
dt{
    display:inline;
}
dd{
    display:inline;
}


body.page-index{
    ul{
	li{
	    list-style:none;
	    display:inline-block;
	    &:not(:last-child):after{
		content:", ";
	    }
	}
    }
}