@import "colors";


.day-group{
     margin-top:20px;
}
.group-header{
    font-weight:bold;
    
}

.booking-attr{
    min-width:50px;
    position:relative;
    display:inline-block;
}
.weekday{
    color:blue;
    text-transform:uppercase;
    &.wed{
	color:$color-wed;
    }
    &.thu{
	color:$color-thu;
    }
    &.fri{
	color:$color-fri;
    }
    &.sat{
	color:$color-sat;
    }
    &.sun{
	color:$color-sun;
    }
    &.mon{
	color:$color-mon;
    }
    &.tue{
	color:$color-tue;
    }
    a{
	text-decoration:underline;
	&.wed{
	    color:$color-wed;
	}
    }
    a.thu{
	color:red;
    }
}
a{
    text-decoration:underline;
}