@import "colors";

body.page-event, body.page-new-event{

    

    .container{ padding-left:100px; }
 
  

    .editable{
	&.edit-mode{
	    .edit-button{display:none;}
	}
	&.view-mode{
	    .submit-button{display:none;}
	    .delete-button{display:none;}

	}
	
    }
    .form-state{
	.submit-group{
	    display:inline-block;
	}
	input{
	    color:white;
	    padding:10px;
	    display:inline-block;
	    cursor:pointer;
	    &.edit-input{
		background-color:$color-cta;
	    }
	    &.delete-input{
		background-color:$red;
		width:15em;
	    }
	    &.submit-input{
		background-color:$color-submit;
		width:15em;
	    }
	}
    }


    label{
	font-weight:normal;
    }
    label.required{
	&:before{
	    content:"*";
	}
	font-weight:bold;
    }
    
    input.form-control.form-control.form-control:required {
	box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.85);
    }

    .attribute-group{
	margin-top:10px;
	margin-top:40px;
	input:required{
	    border:1px solid $blue;
	}
	&.grp-0{
	    display:none;
	}
	&:not(.grp-1){
	    
	    label{opacity:.5;}
	}
    }
    .view-mode .form-group .form-control{
	border: 1px solid lightgray;
    }
    .edit-mode .form-group .form-control{
	border:1px solid lightgray;
	
    }
    
    .form-group{
	.form-control{
	    display:inline-block;
	    border: 1px solid lightgray;
	    box-shadow: none;
	    border-radius: 0px;
	    padding-left:0px;
	}
	label{
	    width:200px;
	    text-align:right;
	}
	input{
	    max-width:25em;

	}

	textarea.form-control.form-control{
	    max-width:25em;
	    border:1px solid lightgray;

	}
	
	select.form-control.form-control{
	    max-width:25em;
	    border:1px solid lightgray;

	}
	textarea{
	    height:100px;
	    vertical-align:text-top;
	    ~label{
		vertical-align:text-top;
	    }
	}

	
	

    }
}