{% extends "layout.html" %}
{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 col-xs-12">
      <div id="main-editable" class="editable entity event view-mode">
	<h2>{{event["name"]}}</h2><h4>({{event["date"]}})</h4>

	<form id="edit-event" action="/api/events/{{event.id}}" method="post">
	  <div class="form-state">
	    <div class="form-group edit-button"><input class="edit-input" type="button" id="edit" value="edit"/></div>
	    <div class="form-group submit-group submit-button"><input class="submit-input" type="submit" id="submit" value="submit"/></div>
	  </div>
	  
	  {% for group in event_field_defs|groupby('grp') %}
	  <div class="attribute-group grp-{{group.grouper}}">
	    {% for field in group.list  %}
	    
	    <div class="form-group">
	      <label for="inp{{field['name']}}">{{field['name']}}...</label>
	      <input  type="{{field['field']}}"
		      class="form-control {{field['field']}}"
		      name="{{field['name']}}"
		      id="inp{{field['name']}}"
		      value="{{event[field['name']]}}"
		      placeholder="{{field['name']}}"
		      disabled="true"
		      {{'required="true"' if field.required}}
		      >
	    </div>	  
	    {% endfor %}
	  </div>
	  {% endfor %}
	  
	</form>
      </div>
    </div>
  </div>
</div>
{% endblock %}


