{% extends "layout.html" %}
{% block content %}


<div class="container">

  <div class="row">
    <div class="col-md-10 col-md-offset-1 col-xs-12">
      <ul>
	<li><a href="{{url_for('bookings.index')}}?filters=[past]">all past events</a></li>	
	<li><a href="{{url_for('bookings.index')}}?filters=[thismonth]">music this month</a></li>
	<li><a href="{{url_for('bookings.index')}}?filters=[music]">all this week</a></li><br/>
	<li><a href="{{url_for('bookings.index')}}?filters=[future,trivia]">upcoming trivia</a></li><br/>
	<li><a href="{{url_for('bookings.index')}}?filters=[day-mon,future]" class="weekday mon">MON</a></li>
	<li><a href="{{url_for('bookings.index')}}?filters=[day-tue,future]" class="weekday tue">TUE</a></li>
	<li><a href="{{url_for('bookings.index')}}?filters=[day-wed,future]" class="weekday wed">WED</a></li>
	<li><a href="{{url_for('bookings.index')}}?filters=[day-thu,future]" class="weekday thu">THU</a></li>
	<li><a href="{{url_for('bookings.index')}}?filters=[day-fri,future]" class="weekday fri">FRI</a></li>
	<li><a href="{{url_for('bookings.index')}}?filters=[day-sat,future]" class="weekday sat">SAT</a></li>
	<li><a href="{{url_for('bookings.index')}}?filters=[day-sun,future]" class="weekday sun">SUN</a></li>



      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10 col-md-offset-1 col-xs-12">
      {% for group in events|sort(attribute='date') |groupby('date') %}
      <div class="attribute-group day-group grp-{{group.grouper}}">
	<div class="group-header "><span class="weekday  {{ group.grouper | weekday }}">{{ group.grouper | weekday }}</span> {{ group.grouper }}</div>
	{% for event in group.list  %}
	<span class="booking-attr">{{ event.start | time }}{% if event.end %}-{{ event.end | time }}{% endif %}</span>
	<span class="booking-attr">{{ event.category }}</span>
	<span class="booking-attr"><a href="{{url_for('bookings.event',id=event.id)}}">{{ event.name }}</a></span>
	<span class="booking-attr" style="color:lightgray;">{{ event.description }}</span>

	<span class="bookitng attr optional offsite" style="color:red;"> {{" ["+event.location+"]" if event.location == "offsite"}}</span>
	<br/>
	{% endfor %}

      </div>
      {% endfor %}

    </div>
  </div>
</div>
{% endblock %}
