<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>EVENTS</title>
    <link rel="stylesheet" href="/static/style.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/static/app.js"></script>
    
    {% assets "scss_all" %}
    <link rel=stylesheet type=text/css href="{{ ASSET_URL }}">
    {% endassets %}
    
</head>
<body class="page-{{page['id']}}" >
    <nav class="navbar navbar-default">
        <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/events">Events</a></li>
        </ul>
    </nav>
    {% block content %}
    {% endblock %}
</body>
</html>
