{% extends "layout.html" %}
{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 col-xs-12">
      <div id="main-editable" class="entity event edit-mode">
	<h2>NEW EVENT</h2><h4>DATE TBD</h4>

	<form id="new-event" action="/api/events" method="post">
	  <div class="form-state">
	    <div class="form-group submit-group submit-button"><input class="submit-input" type="submit" id="submit" value="submit"/></div>
	  </div>
	  
	  {% for group in event_field_defs|groupby('grp') %}
	  <div class="attribute-group grp-{{group.grouper}}">
	    {% for field in group.list  %}
	    
	    <div class="form-group">
	      <!--<label for="inp{{field['name']}}">{{field['name']}}...</label>-->
	      <input  type="{{field['field']}}"
		      class="form-control"
		      name="{{field['name']}}"
		      id="inp{{field['name']}}"
		      placeholder="{{field['name']}}">
	    </div>	  
	    {% endfor %}
	  </div>
	  {% endfor %}
	  
	</form>
      </div>
    </div>
  </div>
</div>
{% endblock %}


